{
  "parameterfilemappings": {
    "8a587a2c-3d1a-453b-b45e-8022007d20c1": {
      "playbooks/example-playbook.json": "playbooks/example-playbook.parameters.json"
    }
  },
  "prioritizedcontentfiles": [],
  "excludecontentfiles": [
    "test",
    ".github/",
    "scripts/",
    "exports/",
    "docs/"
  ]
}
